<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<p class="presentation">
  The following visualization shows a grid of items that represent a graph in
  which the A* algorithm can be visualized
</p>

@if(graph) { @for(row of dimension; track row.id ){ @let tensToAdd = (row.id -
1) * 10;
<div class="gridRow">
  @for(column of dimension; track column.id ) { @let index = column.id +
  tensToAdd;
  <div
    class="gridColumn"
    [class]="{
      obstacle: !graph.adjacencyMatrix[index].metadata.walkable,
      startNode: index === startNode,
      endNode: index === endNode,
      shortestPath: graph.adjacencyMatrix[index].metadata.shortesPathPart,
      visited: graph.adjacencyMatrix[index].metadata.visited,
      scanned: graph.adjacencyMatrix[index].metadata.scanned
    }"
    (click)="handleNodeClick(index)"
  >
    @if(graph.adjacencyMatrix[index].metadata.fCost) {
    <div class="top">
      <div class="half">
        {{ graph.adjacencyMatrix[index].metadata.gCost }}
      </div>
      <div class="half">
        {{ graph.adjacencyMatrix[index].metadata.hCost }}
      </div>
    </div>
    <div class="bottom">
      {{ graph.adjacencyMatrix[index].metadata.fCost }}
    </div>
    }
  </div>
  }
</div>
} }

<div class="panel">
  <h3>Choose what you want to do:</h3>
  <button
    [class]="{ selected: mode === 'adding-obstacles' }"
    (click)="handlePanelButtonClick('adding-obstacles')"
  >
    Add/remove obstacles
  </button>
  <button
    [class]="{ selected: mode === 'adding-startEndNodes' }"
    (click)="handlePanelButtonClick('adding-startEndNodes')"
  >
    Add starting/end node
  </button>

  <button (click)="executeAStar()">Execute A*</button>
</div>
